<!-- Basic EJS expression template ---
- The below code shows demo usage of EJS with dynamic args.
===================================-->
  <html>
  <title>Cafee Factory☕</title>
  <body>
    <h2>Welcome to <%=title%></h2> 
    <ul>
      <%
        data.map((i)=>{
          %><li>
          <%=i%>
          </li><%
        })
      %>
    </ul>
  </body>
</html>